.icon {
  backface-visibility: visible !important;
  animation: flip 3s ease 1;
  opacity: 0;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
    opacity: 0;
  }
}
