.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 10px 20px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navBar > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 50px;
}

.color-blue:hover {
  color: #019aff;
}

.cursor-pointer {
  cursor: pointer;
}
