.NavBar
{
    height:40px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 30px;
   
    
    
}

.Nav_items
{
   margin-right: 5%;
}

.Nav_items:hover{
    color: #019aff;
    cursor: pointer;
}