.NavBar
{
    height:40px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 30px;
    font-size: 90%;
    
    
}

.Nav_items
{
   margin-right: 5%;

}
.Nav_items > a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}


.Nav_items > a:hover
{
    color: #019aff;
}


.Nav_items:hover{
    color: #019aff;
    cursor: pointer;
}

.di
{
    width: 200px;
    color: black;
}

@media only screen and (max-width: 850px) 
{
    .NavBar
    {
        justify-content: center;
    }
}