.NavBar
{
    height:40px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 30px;
   
    
    
}

.Nav_items
{
   margin-right: 5%;

}
.Nav_items > a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
   
}

.Nav_items:hover{
    color: #019aff;
    cursor: pointer;
}

.di
{
    width: 200px;
}