.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid gray;
}

.navBar > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 50px;
}

.color-blue:hover {
  color: #019aff;
}

.cursor-pointer {
  cursor: pointer;
}
.navItem {
  cursor: pointer;
  color: #019aff;
}
