.lostCard {
  height: 100%;
  width: 100%;
}

.lostContainerOuter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 999;
}

.closeIcon {
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
}

.lostContainer {
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.585) 0px 7px 29px 0px; */
  background-color: rgba(255, 255, 255);
  height: 70%;
  border-radius: 15px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadImg {
  display: grid;
  place-items: center;
  width: 50%;
  height: 100%;
}

.divider {
  background: rgb(60, 60, 60);
  width: 0.5px;
  height: 100%;
}
.details {
  display: grid;
  place-items: center;
  padding: 0 20px;
  width: 50%;
}

.details > div {
  line-height: 0.5;
  width: 100%;
}

form {
  width: 100%;
  margin: 20px 0 0 0;
}

.inputField {
  display: flex;
  align-items: center;
  width: 90%;
  height: 20px;
  padding: 8px;
  margin: 5px;
  border: none;
  background-color: rgba(228, 225, 225, 0.466);
  border-radius: 5px;
  gap: 20px;
}

.inputField > svg {
  font-size: larger;
}
.inputField > input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.btnGraphic {
  margin: 10px;
  background: linear-gradient(90.04deg, #019aff, rgb(21, 3, 65) 99.96%);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.submitBtn {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.noAppear {
  appearance: none;
}
