.FoundCard {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(1, 1, 43); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes visibility {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.FoundCard > svg {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.FoundContainer {
  box-shadow: rgba(0, 0, 0, 0.585) 0px 7px 29px 0px;
  background-color: rgba(255, 255, 255, 0.536);
  height: 70%;
  border-radius: 20px;
  width: 60%;
  display: flex;
  z-index: 3;
  animation: visibility 1000ms forwards;
}

.upload > img {
  width: 50%;
}

.upload:hover {
  cursor: pointer;
}

.FoundImg,
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.FoundImg {
  border-right: 1px solid grey;
  flex-direction: column;
}
.name,
.ph_no,
.location,
.item_description {
  height: 35%;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 6px;
  border: transparent;
  background-color: rgba(228, 225, 225, 0.466);
  padding-left: 10px;
  outline: none;
}

.location {
  height: 100%;
  background-color: transparent;
  margin-bottom: 0;
}
.found_location {
  display: flex;
  width: 92%;
  border-radius: 6px;
  border: transparent;
  background-color: rgba(26, 2, 2, 0.712);
  margin-bottom: 20px;
  padding: 0;
  height: 20%;
}
.FoundDetails > p{
  font-size: 70%;
  margin:0;
}
.upload_btn,
.FoundSubmit {
  margin: 10px;
  background: linear-gradient(90.04deg, #019aff, rgb(21, 3, 65) 99.96%);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: transparent;
  font-size: 90%;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.upload_btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.FoundSubmit:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.FoundDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.form1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
  margin: 20px;
  width: 90%;
}


.FoundContainer
{
  min-width: 226px;
  min-height: 480px;
}

@media only screen and (max-width: 850px) {
 .FoundContainer
 {
  flex-direction: column;
 }

 .FoundImg
 {
  height:30%;
  width: 100%;
  position: relative;
  top:40px
 }

 .FoundDetails
 {
  width:100%;
  height: 70%;
 }

 .FoundDetails > img
{
 display: none;
}
.FoundSubmit
{
  position: relative;
  bottom: 10px;
}

}